.container__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__contacto h2 {
    margin: 1em;
}

.container__li {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
}

.container__li li {
    list-style: none;
}

.container__insta, .container__whatsapp, .container__email, .container__clock {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.container__clock img {
    width: 20px;
}
