    .header {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #72AC90;
        margin-top: 10px;
    }
    
    .nav {
        display: flex;
    }
    
    .ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 20px;
    }

    .ul li {
        list-style: none;
        margin-right: 8px;
        cursor: pointer;
        transition-property: color;
        transition-duration: 0.5s;
    }

    .img__car {
        width: 25px;
        transition: transform 0.2s;
    }

    .img__car:hover {
        animation: vibrar 0.4s backwards;
    }

    .ul li:hover {
        color: #f8f8f8;
    }